.article{
    font-size: 30px;
}

.DESC{
    padding: 30px;
}

.STEPS{
    background-color: #B0A8B9;
}

.step {
    padding : 30px;
    padding-bottom: 20px;
}

.footer{
    height: 20vh;
    padding: 30px;
    background-color: #4B4453;
}

.footer > .article{
    color: #ffffff;
}